:root {
    scroll-behavior: smooth;
    --primary-theme-color: #20232a;
    --primary-shadow-color: #20232abf;
    --secondary-shadow-color: #282c34bf;
    --primary-text-color: #fff;
    --primary-highlight-color: #61dafb;
    --primary-font-family: monospace;
}

.body {
    background-color: var(--primary-shadow-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
    /**none se utiliza para resetear propiedades**/
}

/**display: flex; flexibiliza elementos**/
/**.element{
    display: flex;
}**/

.hero {
    /* display: flex; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background-image: url("../img/fondo_tarjeta_perfil.webp");
    /**Quiero que no se deforme la imagen**/
    background-size: cover;
    /**Quiero que este centrado la imagen**/
    background-position: center;
    /**Quiero q ocupe todo el alto**/
    min-height: 100vh;
    /**Altura minima**/
    /****/
    /**width: 100%;**/
    /**centrar verticalmente**/
    /**align-items: center;**/
    /**centrar horizontalmente**/
    /* justify-content: center; */
    align-items: center;
}


/* .card {
    max-width: 256px;
    display: flex;
    flex-direction: column;
} */

.card {
    /* background-color: var(--primary-theme-color); */
    /* Borde de la tarjeta */
    border: 0.125rem solid var(--primary-text-color);
    box-sizing: border-box;
    border-radius: 1rem;
    max-width: 360px;
    /* Divide el espacio que esta vacio lo divide en 2 y 
    lo pone a los costado del elemento (los espacios vacios)*/
    margin: auto;
    /* ocultar lo que la imagen se sale de la carta */
    overflow: hidden;
}

/* La pseudoclase se basa en el estado del elemento */
.card:hover {
    border: 0.125rem solid var(--primary-highlight-color);
}



/* Margin y Padding solo funcionan con elementos 
de block, no funciona con elementos inline */
.card__header {
    background-color: var(--primary-shadow-color);
    text-align: center;
    padding: 1rem;
}

/* Las imagenes son elementos INLINE */
.card__img {
    background-color: var(--primary-theme-color);
    border-radius: 50%;
    /* Imagen Responsive */
    /* El 100% analiza y refiere el tamaño del padre */
    width: min(100%, 256px);
    height: 256px;
    /* Truco para que la imagen no se deforme */
    object-fit: cover;
}

/* .menu {
    display: flex;
} */

.card__body {
    display: flex;
    /** Acomoda a sus hijos en filas**/
    flex-direction: column;
    /**Con esta propiedad lo ponemos en columna**/
    gap: 0.5rem;
    background-color: var(--secondary-shadow-color);
    padding: 1rem;
}


.card__title {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.card__subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
}

.card__text {
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

/* El pseudoelemento se basa en selecciona ro crear
elementos */
.card__text::before {
    content: '❤';
}

.card__text::after {
    content: '❤';
}

/* La propieda inline sola no trabaja como caja */

/* Display flex ya no se aplica a los elementos
si no se aplica a un contenedor, y sus hijos directos
o adyacentes van a tener esta propiedad de flex.
Para que los hijos ocupen el espacio minimo displonible
 */

/* 
.box-container{
    display: flex;
}
.box-element{
    border: 2px solid yellow;
    background-color: red;
    width:32px;
    height:32px;
}
*/


.card__footer {
    background-color: var(--primary-shadow-color);
    padding: 1rem;
}

.menu {
    /* Para poner los elementos en linea  usamos el display flex*/
    display: flex;
    /* Centrar los elementos */
    justify-content: center;
    flex-wrap: wrap;
    
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}


.menu__link {
  display: flex;
  color: var(--primary-text-color);
  font-size: 1.75rem;
}

.menu__link:hover {
  transform: scale(1.125);
}

@media (min-width: 768px) {
    .card {
      max-width: 512px;
    }
  
    .card__title {
      font-size: 1.5rem;
    }
  
    .card__subtitle {
      font-size: 1.25rem;
    }
  
    .card__text {
      font-size: 1.0rem;
    }
  
    .menu__link {
      font-size: 1.75rem;
    }
}
